/* styles/Navbar.module.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1d1d1d;
  padding: 10px 20px;

  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #028391;
}
.logo {
  display: flex;
  gap: 1rem;
}

.logo a {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 20px;
}
.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  position: relative; /* Needed for the pseudo-element */
  transition: color 0.3s;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #028391;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
  left: 0;
  background: #028391;
}

.navLink:hover {
  color: #1e90ff; /* Change to a bright blue color */
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown_content {
  display: none;
  position: absolute;
  border-radius: 4px;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 20px;
  margin: 0;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  color: #333;
}

.dropdown:hover .dropdown_content {
  display: block;
}
